<div class="newsletter-social-share">
    <div class="newsletter-social-share__container">
        {{widget type="interface/widget_newsletter" template="interface/widgets/newsletter.phtml" identificador="newshome" texto="<svg class='ico z-email'><use xlink:href='#z-email' /></svg><span>Assine nossa newsletter</span>" label_email="E-mail:" placeholder_email="Digite seu E-mail" texto_botao="Assinar"}}
        {{widget type="interface/widget_social" template="interface/widgets/social.phtml" identificador="socialhome" titulo="Siga-nos:" redes="all"}}
    </div>
</div>