<div class="instagram">
    <div class="instagram__container">
        <div class="instagram__header">
            <h3 class="instagram__title">Instagram</h3>
            <div class="instagram__description">Veja o que nossos clientes estão vestindo agora</div>
        </div>

        <div class="instagram__main">
            <div class="instagram__list">
                <a href="#">
                    <img src="https://fakeimg.pl/500/" />
                    <span class="label">
                        <svg class="ico z-instagram">
                            <use xlink:href="#z-instagram" />
                        </svg>
                        <span class="text">Ver no Instagram</span>
                    </span>
                </a>
                <a href="#">
                    <img src="https://fakeimg.pl/500/" />
                    <span class="label">
                        <svg class="ico z-instagram">
                            <use xlink:href="#z-instagram" />
                        </svg>
                        <span class="text">Ver no Instagram</span>
                    </span>
                </a>
                <a href="#">
                    <img src="https://fakeimg.pl/500/" />
                    <span class="label">
                        <svg class="ico z-instagram">
                            <use xlink:href="#z-instagram" />
                        </svg>
                        <span class="text">Ver no Instagram</span>
                    </span>
                </a>
                <a href="#">
                    <img src="https://fakeimg.pl/500/" />
                    <span class="label">
                        <svg class="ico z-instagram">
                            <use xlink:href="#z-instagram" />
                        </svg>
                        <span class="text">Ver no Instagram</span>
                    </span>
                </a>
                <a href="#">
                    <img src="https://fakeimg.pl/500/" />
                    <span class="label">
                        <svg class="ico z-instagram">
                            <use xlink:href="#z-instagram" />
                        </svg>
                        <span class="text">Ver no Instagram</span>
                    </span>
                </a>
                <a href="#">
                    <img src="https://fakeimg.pl/500/" />
                    <span class="label">
                        <svg class="ico z-instagram">
                            <use xlink:href="#z-instagram" />
                        </svg>
                        <span class="text">Ver no Instagram</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>