<div class="prod__img">
    @fotos @selos
</div>
<div class="prod__shop">
    <div class="col">
        <div class="prod__name">
            <h1>@nome</h1>
        </div>
        <div class="prod__review-links">
            @avaliacoes
            @links
        </div>
        
        @if(is_disponivel) 
            <div class="prod__prices">
                @preco  
                @preco(parcelado)
            </div>
            @variacoes 

            @bt(sobconsulta "Sob Consulta")
            @temporizador 
            @bt(comprar)
        @else(is_disponivel)
        <div class="prod__esgotado">
            <div class="title title--sm">Produto Esgotado</div>
            @alertas
        </div>
        @endif(is_disponivel) 
        
        @compartilhar
    </div>
</div>


@if(tabela_medidas)
<div class="table-ruler" id="table-ruler">
    {{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="28"}}
</div>
<script>modal('table-ruler');</script>
@endif(tabela_medidas)