.add-to-links
    .link-wishlist
        a
            display: flex
            justify-content: flex-start
            align-items: center
            padding: 5px 0
            color: var(--primary)
            font-weight: medium
            font-size: 12px

        .ico
            margin-right: 5px