.categories
    &__show
        order: -1
        margin-right: 0
        margin-left: 16px

        @media media-max-sm
            flex: 0 0 40px
            width: 40px
            height: 40px

    @media media-max-lg
        .parent
            position: relative

            > ul
                display: none

            &:after
                content: ''

            > a
                display: flex
                justify-content: flex-start
                align-items: center
                min-height: 48px

            &:after
                icon('\f054')

                position: absolute
                top: 0
                right: 0
                z-index: 10
                display: flex
                justify-content: center
                align-items: center
                width: 48px
                height: 48px
                background: var(--primary-contrast)
                font-size: 20px
                transition: all .2s ease

            &.on
                &:after
                    transform: rotate(90deg)

                > ul
                    display: block

        .all-li--0
            padding-bottom: 0

    @media media-min-lg
        position: absolute
        top: 100%
        left: 0
        flex: 1
        margin-bottom: 0 !important
        min-width: 0
        width: 100%
        background: none
        background: #fff
        transition: all .2s ease-in-out

        .scrolling &
            border-bottom: solid 1px rgba(0, 0, 0, .1)
            transform: translateY(-44px)

        &__all
            display: none

        .ul--0
            position: static
            justify-content: space-between

        .ul--1
            margin: 0 auto
            max-width: 170px

            &:before
                display: block
                padding: 40px 0 20px
                padding-left: 10px
                color: var(--secundary)
                content: attr(data-title)
                font-weight: bold
                font-size: 20px

        .a--0
            color: var(--primary)
            white-space: nowrap
            font-weight: medium
            font-size: 14px

        .a--1
            color: var(--primary)
            font-weight: medium
            font-size: 16px

        .li--0
            position: static
            order: 1

            &:hover
                .a--0
                    background: none
                    color: var(--secundary)

        .box--1
            left: 0
            display: flex
            justify-content: space-between
            padding: 0
            background: #f4f4f4

        &__block
            flex: 0 1 60%
            margin: 0
            padding: 0
            border: 0

            p
                display: contents

            img
                width: 100%
                height: 100%
                object-fit: cover