.header
    position: relative
    z-index: 10
    margin-bottom: 0
    padding: 16px
    background: #ffffff

    @media media-max-lg
        margin-bottom: 0 !important

    &-container
        position: sticky
        top: 0
        background: #fff
        box-shadow: none

        @media media-max-lg
            margin-bottom: 0 !important
