.mycart
    .header &
        @media media-max-lg
            margin-left: 5px

        @media media-min-lg
            margin-left: 80px

    &__header
        .ico
            width: 16px
            height: 19px
            fill: currentColor

        .qtd
            position: absolute
            top: 0
            right: 0
            display: flex
            justify-content: center
            align-items: center
            width: 16px
            height: 16px
            border-radius: 50%
            background: var(--secundary)
            color: var(--secundary-contrast)
            font-size: 11px

        a
            position: relative
            display: flex
            justify-content: center
            align-items: center
            width: 48px
            height: 48px
            color: var(--primary)

            @media media-max-lg
                width: 44px
                height: 44px
                border-radius: 3px
                background: var(--primary)
                color: var(--primary-contrast)

            &:hover
                color: @color

    &__content
        display: none !important