.price-box
    .products &
        margin: 0 5px

    .old-price
        display: none

    .regular-price, .special-price
        .label
            display: none

        .price
            span
                font-weight: bold
                font-size: 14px

.price-box-parcelado
    .products &
        margin: 0 5px

    .preco-parcelado
        .de, .s-juros, .c-juros
            display: none

        &, .num span, .value span
            color: #b7b7b7
            font-weight: bold
            font-size: 14px