.products
    .cms-home &
        margin: 50px 0

    &__title
        text-align: center
        font-weight: bold
        font-size: 24px

    &__case
        box-shadow: none

    &__name
        font-weight: bold
        font-size: 16px

    &__main
        text-align: center

    &__prices
        display: flex
        justify-content: center
        align-items: center
        padding: 10px 0