.rating
    .product-rate &:before
        color: var(--primary)

.product-rate
    .prod__shop &
        padding: 5px 0

        .to-rate
            color: var(--primary)
            font-weight: medium
            font-size: 12px