.reviews
    &__title
        display: none

    &__resume, &__ratings, &__add
        padding-right: @padding-left
        padding-left: 0
        box-shadow: none

    @media media-max-lg
        &__content
            display: block
