.sharing-links
    margin-top: auto

    a
        background: none
        color: var(--primary)
        opacity: .5

        .ico
            fill: currentColor

    .list
        &:before
            font-weight: medium
            font-size: 14px
            opacity: 1