.toolbar
    .amount, .limiter, &-bottom
        display: none

    .sort-by
        &:before
            padding: 0 16px
            content: 'Ordenar'
            font-weight: medium
            font-size: 16px

        label
            display: none

        select
            padding: 0 40px 0 16px
            max-width: 100%
            width: 190px
            height: 40px
            border: 0
            border-radius: 40px
            background: #f6f6f6 no-repeat url(select) center right 16px
            box-shadow: none
            font-weight: medium
            font-size: 12px
            appearance: none