.cms-home
    .main-container
        width: 100%

        #banner__banner-trio-vitrine
            margin: 0 auto
            max-width: 100%
            width: viewport

        .banner
            img
                width: 100%
                object-fit: cover

        .products
            margin-right: auto
            margin-left: auto
            max-width: calc(100% - 100px)