.opc
    .header-container
        margin: 0
        background: #ffffff

        @media media-max-lg
            position: sticky !important
            margin-bottom: 20px !important

    .header
        padding: 16px 0

        .myaccount
            display: none