.prod
    &__img
        shadowBorder()

        background: #fef9f1

        @media media-min-lg
            flex: 0 1 50%
            padding-top: 20px
            padding-bottom: 20px
            box-shadow: -400px 0 0 @background

            .product-image-container, .product-image-gallery
                margin-bottom: 0
                height: 100%

            .product-image-gallery
                display: flex
                align-items: stretch

                img
                    object-fit: cover

    &__shop
        flex: 1
        min-width: 0

        @media media-max-lg
            margin-top: 20px

        @media media-min-lg
            flex: 1
            min-width: 0

        .add-to-cart-buttons
            display: flex
            flex-flow: row wrap

            .open-product-ruler
                display: flex
                flex: 1
                justify-content: center
                align-self: flex-end
                align-items: center
                margin-left: 16px
                padding: 0 15px
                min-width: 0
                height: 40px
                border: dashed 1px var(--primary)
                border-radius: 40px
                background: none
                box-shadow: none
                color: var(--primary)
                font-weight: medium
                font-size: 16px

                @media media-max-lg
                    font-size: 12px

                .ico
                    margin-right: 5px
                    width: 30px
                    height: 30px

        .qty-wrapper
            width: 130px

            &:before
                display: block
                padding-bottom: 20px
                color: var(--primary)
                content: 'Quantidade'
                font-weight: semibold
                font-size: 14px

        .breadcrumb
            margin-bottom: 50px

        .col
            flex: 1
            min-width: 0

        .add-to-cart-btn
            display: flex
            justify-content: center
            align-items: center
            padding: 0
            height: 50px
            border-radius: 50px
            background: var(--button)
            text-transform: uppercase
            letter-spacing: 2px
            font-weight: medium
            font-size: 14px
            line-height: 50px

            span
                display: inline

            &:hover
                background: var(--button-hover)

    &__name
        h1
            text-transform: uppercase
            font-weight: bold
            font-size: 20px

    &__prices
        display: flex
        align-items: flex-end
        padding: 25px 0

        .price-box
            margin-right: 10px
            margin-bottom: 0

            .regular-price, .special-price
                .price
                    span
                        color: var(--secundary)
                        font-weight: bold
                        font-size: 22px

        .price-box-parcelado
            margin-bottom: 0

.product-image-container
    @media media-min-lg
        display: flex

.product-image
    @media media-min-lg
        flex: 1
        padding-right: 20px
        min-width: 0

.more-views
    @media media-min-lg
        order: -1
        margin-right: 20px
        width: 63px

.product-image-gallery
    background: none
    box-shadow: none

.product-image-thumbs
    @media media-min-lg
        display: block

    .thumb-link
        box-shadow: none !important

#product_addtocart_form
    @media media-max-lg
        display: block

.catalog-product-view
    .wrapper-container
        overflow: hidden
        width: 100%